}.linia

background-color;
height:1 ;
width: 500;
margin-bottom:30;
margin-top:30;
margin-left:auto;
margin-right:auto;
}

h2
{
	color#FF5F1F;
	text-align:center;
}
h3
{
	color:#FF5F1F:
}
.lista
{
	text-align:center;
}